@import "variable";

.about {
  padding: 8rem 0;
  transition: $transition;

  &__text {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    background: rgba($bg-light, 0.9);
    border-radius: $border-radius;
    box-shadow: $shadow;
    transition: $transition;
  }
}