@import "variable";

.about {
  margin: 4rem 0;
  transition: $transition;
  word-break: keep-all;
  height: 100vh;
  margin-bottom: -4rem !important;

  .section-title {
    margin-right: 1rem;
    width: max-content;
    margin-bottom: 1rem;
  }

  &__text {
    word-break: keep-all;
    margin-right: 10%;
    position: absolute;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.3rem;
    direction: rtl;
    padding: 1rem;
    transition: $transition;
  }

  &__gallery {
    margin-top: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &-images {
      position: relative;
      width: min(90vw, 600px);
      height: min(60vh, 400px);
      perspective: 1200px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;

      img {
        position: absolute;
        width: 100%;
        max-width: 420px;
        aspect-ratio: 16 / 10;
        object-fit: cover;
        border-radius: 12px;
        box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: transform 0.6s ease, opacity 0.6s ease;
        opacity: 0;
        pointer-events: none;
        transition: $transition;

        &:hover.active {
          transform: translateZ(120px) scale(1.4) !important;
          box-shadow: $shadow-hover;
          z-index: 120;
          opacity: 1 !important;
        }
      }

      img.active {
        transform: translateZ(120px) scale(1.1);
        z-index: 3;
        opacity: 1;
        pointer-events: auto;
      }

      img.left {
        transform: translateX(-160px) rotateY(30deg) translateZ(0px);
        z-index: 2;
        opacity: 0.5;
        pointer-events: auto;
      }

      img.right {
        transform: translateX(160px) rotateY(-30deg) translateZ(0px);
        z-index: 2;
        opacity: 0.5;
        pointer-events: auto;
      }
    }
  }
}