@import "variable";
@import "mixin";

@include load-fonts;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[lang=en] {
  .header__controls .theme-toggle svg {
    transform: translate(-50%, -50%);
  }
}

body {
  font-family: 'Vazir', sans-serif;
  line-height: 1.6;
  background: $bg-light;
  color: $text-dark;
  scroll-behavior: smooth;
}

// Themes
@include dark-mode;
@include light-mode;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-title {
  font-size: 2rem;
  color: $primary;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.animate-hidden {
  opacity: 0;
  transform: translateY(20px);
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.per-number {
  font-family: 'BYekan', sans-serif;
  direction: ltr;
}

.transition {
  transition: $transition;
}

.hover:hover {
  color: $hover;
  text-shadow: $hover-shadow;
}