@import "variable";

.footer {
  color: $text-dark;
  // padding: 4rem 0 2rem;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  transition: $transition;
  box-shadow: $shadow;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 50px;
  //   transform: translateY(-100%);
  // }

  p {
    margin-bottom: 1rem;
    font-size: 1rem;
    transition: $transition;

    span{
    font-size: 1.2rem;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    transition: $transition;

    .social-link {
      transition: $transition;
      text-decoration: none;
      color: $text-dark;
      height: 2rem;
      width: 2rem;


      &:hover {
        transform: scale(1.2) translateY(-5px);
        color: $hover;
        filter: drop-shadow($hover-shadow);
      }
    }
  }
}