@import "variable";

.gallery-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(12px);
    z-index: 1000;
    opacity: 0;
    transition: $transition;

    &.active-gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }

    &__content {
        position: relative;
        width: 95%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            .gallery-modal__content-image-counter {
                opacity: 1 !important;
                visibility: visible !important;
            }
        }

        &-image-counter {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: saturate(180%) blur(5px);
            padding: 8px 20px;
            border-radius: 20px;
            font-size: 1.2rem;
            transition: $transition;
            opacity: 0;
            visibility: hidden;
            color: $text-light;
        }

        &-img {
            max-width: 100% !important;
            max-height: 100% !important;
            border-radius: $border-radius;
            box-shadow: $shadow;
        }
    }


    &__controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: $transition;
        color: $text-light;

        &:hover {
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: saturate(180%) blur(5px);
        }
    }

    .prev {
        z-index: 1000;
        left: 20px;
        margin-left: -20px;
        border-radius: 0 4rem 4rem 0;
    }

    .next {
        z-index: 1000;
        right: 20px;
        margin-right: -20px;
        border-radius: 4rem 0 0 4rem;
    }

    .close {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 40px;
        color: white;
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition;
        z-index: 1000;
        border-radius: 50%;

        @media (max-width: 768px) {
            top: 20px;
            right: 20px;
            font-size: 30px;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: saturate(180%) blur(5px);
        }
    }
}