@import "variable";

.header {
  position: fixed;
  width: 100%;
  box-shadow: $shadow;
  z-index: 1000;

  &__nav {
      background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 2rem;
  }

  &__logo {
    .logo-text {
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary;
      text-decoration: none;
    }
  }

  &__mobile-toggle {
      background: transparent;
    display: none;
    visibility: hidden;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: $text-dark;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    background: transparent;
    cursor: pointer;

    svg {
      position: absolute;
      height: 1.8rem;
      width: 1.8rem;
      opacity: 0;
      transition: $transition;

      &.active {
        opacity: 1;
        transition: $transition;
      }

      &:hover {
        color: $hover;
        text-shadow: $hover-shadow;
      }
    }
  }

  &__menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    align-items: center;
      background: transparent;

    .menu-link {
      color: $text-dark;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: $hover;
        text-shadow: $hover-shadow;
      }
    }
  }

  &__controls {
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;

    .theme-toggle {
      height: 1.8rem;
      width: 1.8rem;
      border: none;
      font-size: 1.2rem;
      color: $text-dark;
      background: transparent;
      cursor: pointer;

      svg {
        position: absolute;
        height: 1.8rem;
        width: 1.8rem;
        margin: 0;
        padding: 0;
        transform: translate(50%, -50%);
        opacity: 0;
        transition: $transition;

        &.active {
          opacity: 1;
          transition: $transition;
        }
      }

      &:hover {
        color: $hover;
        text-shadow: $hover-shadow;
      }
    }

    .language-toggle {
      padding: 0.5rem;
      border: 1px solid $primary;
      outline: none;
      border-radius: 4px;
      background: transparent;
      color: $text-dark;
      cursor: pointer;

      &:hover {
        color: $hover;
        text-shadow: $hover-shadow;
      }
    }
  }
}