@mixin load-fonts {
    @font-face {
        font-family: 'BYekan';
        src: url('./font/BYekan.ttf') format('woff2');
    }

    @font-face {
        font-family: 'Vazir';
        src: url('./font/Vazir.ttf') format('woff2');
    }
}