@import "variable";

.services {
    padding: 6rem 0;
    transition: $transition;

    .icon--lg {
        width: 3rem;
        height: 3rem;
        margin: 0 auto 1rem;
    }

    &__grid {
        transition: $transition;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;

        .service-card {
            transition: $transition;
            background: $bg-light;
            padding: 2rem;
            border-radius: $border-radius;
            box-shadow: $shadow;
            text-align: center;

            &:hover {
                transform: translateY(-5px);
                box-shadow: $shadow-hover;
            }

            &__icon {
                transition: $transition;
                color: $primary;
                margin-bottom: 1rem;

                svg {
                    height: 5rem;
                    width: 5rem;
                }
            }

            &__title {
                transition: $transition;
                font-size: 1.5rem;
                color: $primary;
                margin-bottom: 0.5rem;
            }

            &__desc {
                font-size: 1rem;
            }
        }
    }
}