$fh-dark: #303031;
$fh-light: hsl(46, 57%, 95%);
$primary: #756223;
$primary-light: #D4AF37;
$secondary: #F97316;
$secondary-light: #ffb27a;
$accent: #DC2626;
$hover: #FBBF24;
$hover-shadow: 0 0 5px $hover;
$accent-light: #eb5f5f;
$bg-light: #F9FAFB;
$bg-dark: #1F2937;
$base-bg-light: #F9FAFB;
$base-bg-dark: #010f24;
$text-dark: #374151;
$text-light: #E5E7EB;
$metallic: #6B7280;
$border-radius: 12px;
$transition: all 0.3s ease-in-out;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
$animation-duration: 0.5s;