$fh-dark: #303031;
$fh-light: #faf6eb;
$primary: #756223;
$primary-light: #D4AF37;
$secondary: #464ec7;
$secondary-light: #848cfa;
$hover: #FBBF24;
$hover-shadow: 0 0 5px $hover;
$bg-light: #F9FAFB;
$bg-dark: #1F2937;
$base-bg-light: #F9FAFB;
$base-bg-dark: #010f24;
$text-dark: #374151;
$text-light: #E5E7EB;
$metallic: #6B7280;
$border-radius: 12px;
$transition: all 0.3s ease-in-out;
$shadow: 0 0 14px rgba(0, 0, 0, 0.1);
$shadow-hover: 0 6px 20px rgba(0, 0, 0, 0.2);
$animation-duration: 0.5s;