.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(12px);
  z-index: 1000;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.lightbox.active-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.lightbox .image-counter {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(5px);
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  color: #E5E7EB;
}
.lightbox-content {
  position: relative;
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox-content:hover .image-counter {
  opacity: 1 !important;
  visibility: visible !important;
}
.lightbox-img {
  max-width: 100% !important;
  max-height: 100% !important;
  border-radius: 12px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5);
}
.lightbox-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #E5E7EB;
}
.lightbox-nav:hover {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: saturate(180%) blur(5px);
}
.lightbox .prev {
  z-index: 1000;
  left: 20px;
  margin-left: -20px;
  border-radius: 0 4rem 4rem 0;
}
.lightbox .next {
  z-index: 1000;
  right: 20px;
  margin-right: -20px;
  border-radius: 4rem 0 0 4rem;
}
.lightbox .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .lightbox .close {
    top: 20px;
    right: 20px;
    font-size: 30px;
  }
}
.lightbox .close:hover {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: saturate(180%) blur(5px);
}

.gallery-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(12px);
  z-index: 1000;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.gallery-modal.active-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.gallery-modal__content {
  position: relative;
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-modal__content:hover .gallery-modal__content-image-counter {
  opacity: 1 !important;
  visibility: visible !important;
}
.gallery-modal__content-image-counter {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(5px);
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  color: #E5E7EB;
}
.gallery-modal__content-img {
  max-width: 100% !important;
  max-height: 100% !important;
  border-radius: 12px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5);
}
.gallery-modal__controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #E5E7EB;
}
.gallery-modal__controls:hover {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: saturate(180%) blur(5px);
}
.gallery-modal .prev {
  z-index: 1000;
  left: 20px;
  margin-left: -20px;
  border-radius: 0 4rem 4rem 0;
}
.gallery-modal .next {
  z-index: 1000;
  right: 20px;
  margin-right: -20px;
  border-radius: 4rem 0 0 4rem;
}
.gallery-modal .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .gallery-modal .close {
    top: 20px;
    right: 20px;
    font-size: 30px;
  }
}
.gallery-modal .close:hover {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: saturate(180%) blur(5px);
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes spark {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100px, -100px);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUpMuch {
  from {
    opacity: 0;
    transform: translateY(630px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@font-face {
  font-family: "BYekan";
  src: url("./font/BYekan.ttf") format("woff2");
}
@font-face {
  font-family: "Vazir";
  src: url("./font/Vazir.ttf") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[lang=en] .hero__text {
  text-align: left;
  direction: ltr;
}
html[lang=en] .theme-toggle svg {
  transform: translate(-50%, -50%);
}
html[lang=en] .per-number {
  font-family: sans-serif;
}

body {
  font-family: "Vazir", sans-serif;
  line-height: 1.6;
  background: #F9FAFB;
  color: #374151;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}

body.theme-dark {
  background: #010f24;
  color: #E5E7EB;
}
body.theme-dark .hero__cta {
  background: #848cfa;
}
body.theme-dark .contact__info-list li svg {
  color: #D4AF37;
}
body.theme-dark .service-card__icon {
  color: #D4AF37;
}
body.theme-dark .theme-area {
  background: #1F2937;
  color: #E5E7EB;
}
body.theme-dark .primary {
  color: #D4AF37;
}
body.theme-dark .theme-toggle {
  color: #E5E7EB;
}
body.theme-dark .language-toggle {
  color: #E5E7EB;
}
body.theme-dark .menu-link {
  color: #E5E7EB;
}
body.theme-dark .header {
  background: rgba(48, 48, 49, 0.7) !important;
  backdrop-filter: saturate(180%) blur(12px) !important;
}
body.theme-dark .header__mobile-toggle span {
  background: #E5E7EB;
}
@media (max-width: 1052px) {
  body.theme-dark .header__menu-wrapper {
    background: #303031 !important;
  }
}
body.theme-dark input,
body.theme-dark textarea {
  color: #E5E7EB;
  background-color: #303031;
}
body.theme-dark .contact__form-submit {
  background-color: #D4AF37 !important;
}
body.theme-dark .contact__map iframe {
  filter: grayscale(20%) invert(100%) hue-rotate(180deg) !important;
}
body.theme-dark .social-link {
  color: #E5E7EB;
}
body.theme-dark .footer {
  background: #303031;
}

body.theme-light {
  background: #F9FAFB;
  color: #374151;
}
body.theme-light .hero__cta {
  background: #464ec7;
}
body.theme-light .contact__info-list li svg {
  color: #756223;
}
body.theme-light .service-card__icon {
  color: #756223;
}
body.theme-light .theme-area {
  background-color: #faf6eb;
  color: #374151;
}
body.theme-light .primary {
  color: #756223;
}
body.theme-light .theme-toggle {
  color: #374151;
}
body.theme-light .language-toggle {
  color: #374151;
}
body.theme-light .menu-link {
  color: #374151;
}
body.theme-light .header {
  background: rgba(250, 246, 235, 0.7) !important;
  backdrop-filter: saturate(180%) blur(12px) !important;
}
body.theme-light .header__mobile-toggle span {
  background: #374151;
}
@media (max-width: 1052px) {
  body.theme-light .header__menu-wrapper {
    background: #faf6eb !important;
  }
}
body.theme-light input,
body.theme-light textarea {
  color: #374151;
  background-color: #F9FAFB;
}
body.theme-light .contact__form-submit {
  background-color: #756223 !important;
}
body.theme-light .social-link {
  color: #374151;
}
body.theme-light .footer {
  background: #faf6eb;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
}

section {
  transition: all 1s ease-in-out !important;
}

.section-title {
  font-size: 2rem;
  color: #756223;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.animate-hidden {
  opacity: 0;
  transform: translateY(20px);
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.per-number {
  font-family: "BYekan", sans-serif;
  direction: ltr;
}

.hover:hover {
  color: #FBBF24 !important;
  text-shadow: 0 0 5px #FBBF24;
  filter: drop-shadow(0 0 5px #FBBF24);
}

.theme-area {
  position: relative;
}

img {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -ms-touch-select: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
}

.hamburger-menu-wrapper {
  display: none;
}

.header {
  top: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  height: 4.5rem;
}
.header__nav {
  transition: all 0.3s ease-in-out;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 2rem;
}
.header__logo {
  transition: all 0.3s ease-in-out;
}
.header__logo .logo-text {
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  font-weight: bold;
  color: #756223;
  text-decoration: none;
}
.header__mobile-theme-toggle {
  display: none !important;
  position: absolute !important;
  visibility: hidden !important;
  top: 50% !important;
  left: 1rem !important;
  transform: translateY(-50%) !important;
  padding: 0 !important;
}
.header__mobile-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  transition: all 0.3s ease-in-out;
  background: transparent;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  padding: 0;
}
.header__mobile-toggle span {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.header__mobile-toggle:hover span {
  background: #FBBF24 !important;
  text-shadow: 0 0 5px #FBBF24;
  filter: drop-shadow(0 0 5px #FBBF24);
}
.header__mobile-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 3.5px);
}
.header__mobile-toggle.active span:nth-child(2) {
  opacity: 0;
}
.header__mobile-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -3.5px);
}
.header__menu {
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 1.5rem;
  list-style: none;
  align-items: center;
  background: transparent !important;
}
.header__menu-wrapper {
  transition: all 0.8s ease-in-out;
}
.header__menu .menu-link {
  background: transparent !important;
  transition: all 0.3s ease-in-out;
  color: #374151;
  text-decoration: none;
  font-weight: 500;
}
.header__menu .menu-link:hover {
  color: #FBBF24;
  text-shadow: 0 0 5px #FBBF24;
}
.header__controls {
  background: transparent !important;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
}
.header__controls .language-toggle {
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 4px;
  background: transparent !important;
  color: #374151;
  cursor: pointer;
  font-size: 1.2rem;
}
.header__controls .language-toggle:hover {
  color: #FBBF24;
  text-shadow: 0 0 5px #FBBF24;
}

.theme-toggle {
  transition: all 0.3s ease-in-out;
  height: 1.8rem;
  width: 1.8rem;
  border: none;
  font-size: 1.2rem;
  color: #374151;
  background: transparent !important;
  cursor: pointer;
}
.theme-toggle svg {
  position: absolute;
  height: 1.8rem;
  width: 1.8rem;
  margin: 0;
  padding: 0;
  transform: translate(50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.theme-toggle svg.active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.theme-toggle:hover {
  filter: drop-shadow(0 0 5px #FBBF24) !important;
  color: #FBBF24 !important;
  text-shadow: 0 0 5px #FBBF24 !important;
}

.hero {
  margin-top: 4.5rem;
  --bg-image: url("./images/1.jpg");
  background: linear-gradient(to right, rgba(249, 177, 22, 0.5) -30%, rgba(0, 0, 0, 0.7) 50%, rgba(249, 177, 22, 0.5) 130%), var(--bg-image);
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 10px black;
}
.hero:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 0;
  animation: spark 10s infinite linear;
}
.hero__content {
  position: relative;
  z-index: 1;
  padding: 2rem;
}
.hero__title {
  transition: all 0.3s ease-in-out;
  font-size: 5rem;
  color: #FBBF24;
  margin-bottom: 1.5rem;
  text-shadow: 0 4px 8px #FBBF24;
  animation: fadeInUpMuch 5s ease-in-out;
}
.hero__subtitle {
  font-size: 1.8rem;
  color: #F9FAFB;
  margin-bottom: 2.5rem;
  animation-fill-mode: backwards;
  animation: fadeInUpMuch 5s ease-in-out;
}
.hero__cta {
  transition: all 0.3s ease-in-out;
  display: inline-block;
  padding: 1rem 3rem;
  background: #464ec7;
  color: #F9FAFB;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5), 0 0 10px #464ec7;
  animation: fadeInUp 0.5s ease-in-out;
}
.hero__cta:hover {
  background: #464ec7;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5), 0 0 15px #464ec7;
  transform: translateY(-5px);
}
.hero__text {
  margin-top: 10rem !important;
  word-break: keep-all;
  position: relative;
  max-width: 90%;
  margin: 2rem auto;
  font-size: clamp(1rem, 1.8vw, 1.3rem);
  direction: rtl;
  text-align: right;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  color: #F9FAFB !important;
  animation: fadeInUpMuch 10s ease-in-out;
}

.gallery {
  transition: all 0.3s ease-in-out;
  word-break: keep-all;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem !important;
}
@media (max-width: 768px) {
  .gallery {
    margin-bottom: 1rem !important;
    margin-top: 8rem !important;
  }
}
.gallery__images {
  margin-top: 4rem !important;
  position: relative;
  width: min(90vw, 600px);
  height: min(50vh, 400px);
  perspective: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
@media (max-width: 767px) {
  .gallery__images {
    perspective: none;
    height: auto;
    flex-direction: column;
    gap: 1.5rem;
  }
}
.gallery__images img {
  position: relative;
  width: 100%;
  max-width: 420px;
  aspect-ratio: 16/10;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  transition: transform 0.6s ease, opacity 0.6s ease;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .gallery__images img {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.5) !important;
  }
}
.gallery__images img:hover.active {
  transform: translateZ(120px) scale(1.4) !important;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8) !important;
  z-index: 120;
  opacity: 1 !important;
}
@media (max-width: 768px) {
  .gallery__images img:hover.active {
    transform: scale(1.1) !important;
  }
}
@media (min-width: 768px) {
  .gallery__images img.active {
    transform: translateZ(120px) scale(1.1);
    z-index: 3;
    opacity: 1;
    pointer-events: auto;
  }
}
@media (min-width: 768px) {
  .gallery__images img.left,
  .gallery__images img.right {
    transform: translateX(-160px) rotateY(30deg) translateZ(0px);
    z-index: 2;
    opacity: 0.5;
    pointer-events: auto;
  }
}
@media (max-width: 767px) {
  .gallery__images img.left,
  .gallery__images img.right {
    transform: none !important;
  }
}
@media (min-width: 768px) {
  .gallery__images img.right {
    transform: translateX(160px) rotateY(-30deg) translateZ(0px);
  }
}

.projects {
  margin-top: 4.3rem;
  padding: 4rem 0;
  transition: all 0.3s ease-in-out;
}
.projects__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
@media (max-width: 991px) {
  .projects__grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
@media (max-width: 575px) {
  .projects__grid {
    grid-template-columns: 1fr;
  }
}
.projects__grid .project-card {
  transition: all 0.3s ease-in-out;
  background: #F9FAFB;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.projects__grid .project-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
.projects__grid .project-card__media {
  transition: all 0.3s ease-in-out;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.projects__grid .project-card__media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.projects__grid .project-card__content {
  padding: 1.5rem;
}
.projects__grid .project-card__title {
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  color: #756223;
}
.projects__grid .project-card__desc {
  font-size: 1rem;
}
.projects__grid .project-card .gallery-main-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease;
}
.projects__grid .project-card .gallery-main-image:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.services {
  padding: 6rem 0;
  transition: all 0.3s ease-in-out;
}
.services__grid {
  transition: all 0.3s ease-in-out;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.services__grid .service-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
  background: #F9FAFB;
  padding: 1.3rem;
  border-radius: 12px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-top: 3px solid #756223;
  cursor: pointer;
}
.services__grid .service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to bottom, #756223, rgba(117, 98, 35, 0.8));
  transition: all 0.3s ease-in-out;
  z-index: -1;
  opacity: 1;
  border-radius: 12px;
}
.services__grid .service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
  border-top: none;
}
.services__grid .service-card:hover .service-card__desc {
  transition-duration: 0.5s;
  color: #E5E7EB;
}
.services__grid .service-card:hover .service-card__title {
  color: #faf6eb;
}
.services__grid .service-card:hover .service-card__icon svg {
  fill: #faf6eb !important;
  color: #faf6eb !important;
  transform: scale(1.2) !important;
}
.services__grid .service-card:hover::before {
  height: 100%;
  opacity: 1;
}
.services__grid .service-card__icon {
  transition: all 0.3s ease-in-out;
  color: #756223;
  margin-bottom: 1rem;
}
.services__grid .service-card__icon svg {
  transition: all 0.3s ease-in-out;
  height: 5rem;
  width: 5rem;
}
.services__grid .service-card__title {
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  color: #756223;
  margin-bottom: 0.5rem;
}
.services__grid .service-card__desc {
  font-size: 1rem;
}

.why-us {
  padding: 6rem 0;
  transition: all 0.3s ease-in-out;
}
.why-us__grid {
  transition: all 0.3s ease-in-out;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.why-us__grid .why-us-card {
  transition: all 0.3s ease-in-out;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
}
.why-us__grid .why-us-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  transition-duration: 0.6s !important;
  border-radius: 12px;
  background-image: linear-gradient(-45deg, transparent 50%, #756223 50%) !important;
  background-position: 100% 0 !important;
  background-size: 400% 100% !important;
}
.why-us__grid .why-us-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
  background-position: 0 0 !important;
}
.why-us__grid .why-us-card:hover .why-us-card__desc {
  transition-duration: 0.5s;
  color: #E5E7EB;
}
.why-us__grid .why-us-card:hover .why-us-card__title {
  color: #faf6eb;
}
.why-us__grid .why-us-card:hover::before {
  background-position: 0 0 !important;
}
.why-us__grid .why-us-card__title {
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  color: #756223;
  margin-bottom: 0.5rem;
}
.why-us__grid .why-us-card__desc {
  font-size: 1rem;
}

.certificates {
  padding: 6rem 0;
  transition: all 0.3s ease-in-out;
}
.certificates__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
.certificates__grid .certificate-card {
  background: #F9FAFB;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.certificates__grid .certificate-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
}
.certificates__grid .certificate-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}
.certificates__grid .certificate-card__title {
  font-size: 1.3rem;
  color: #756223;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.certificates__grid .certificate-card__desc {
  font-size: 1rem;
}

.contact {
  padding: 6rem 0;
  transition: all 0.3s ease-in-out;
}
.contact__text {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.contact__content {
  transition: all 0.3s ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .contact__content {
    grid-template-columns: 1fr;
  }
}
.contact__info {
  transition: all 0.3s ease-in-out;
  background: rgba(249, 250, 251, 0.95);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5);
}
.contact__info-title {
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  color: #756223;
  margin-bottom: 1rem;
}
.contact__info-list {
  transition: all 0.3s ease-in-out;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  font-size: 1rem;
  line-height: 2;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
}
.contact__info-list li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
  min-height: 48px;
  transition: all 0.3s ease-in-out;
}
.contact__info-list li span {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  word-break: break-all;
}
.contact__info-list li span:hover {
  color: #FBBF24 !important;
  text-shadow: 0 0 5px #FBBF24;
  filter: drop-shadow(0 0 5px #FBBF24);
}
.contact__info-list li svg {
  transition: all 0.3s ease-in-out;
  margin-top: 0.7rem;
  height: 1.3rem;
  width: 1.3rem;
  color: #756223;
  flex-shrink: 0;
}
.contact__info-list li:nth-child(8) {
  align-items: flex-start;
}
.contact__info-list li:nth-child(8) svg {
  margin-top: 0.3rem;
}
.contact__info-list li:last-child {
  grid-column: 1/-1;
  align-items: flex-start;
  margin-top: 2rem;
}
.contact__info-list li:last-child span {
  word-break: keep-all;
}
.contact__info-list li:last-child svg {
  margin-top: 0.3rem;
}
.contact__info:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
}
.contact__form {
  transition: all 0.3s ease-in-out;
  background: rgba(249, 250, 251, 0.95);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5);
}
.contact__form-title {
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  color: #756223;
  margin-bottom: 1rem;
}
.contact__form form {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact__form form input,
.contact__form form textarea {
  transition: all 0.3s ease-in-out;
  font-family: "Vazir", sans-serif;
  padding: 0.75rem;
  border: 1px solid #6B7280;
  border-radius: 8px;
  font-size: 1rem;
}
.contact__form form input:focus,
.contact__form form textarea:focus {
  border-color: #756223;
  outline: none;
  box-shadow: 0 0 5px rgba(117, 98, 35, 0.3);
}
.contact__form form textarea {
  resize: vertical;
  min-height: 100px;
}
.contact__form form .contact__form-submit {
  transition: all 0.3s ease-in-out;
  padding: 0.75rem;
  background: #756223;
  color: #E5E7EB;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.contact__form form .contact__form-submit:hover {
  background: #756223;
  transform: translateY(-2px);
}
.contact__form:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
}
.contact__map {
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5) !important;
  height: 400px;
  width: 100%;
}
.contact__map:hover, .contact__map:active {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8) !important;
}

.footer {
  color: #374151;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5);
}
.footer p {
  margin-bottom: 1rem;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.footer p span {
  font-size: 1.2rem;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  transition: all 0.3s ease-in-out;
}
.footer__socials .social-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #374151;
  height: 2rem;
  width: 2rem;
}
.footer__socials .social-link:hover {
  transform: scale(1.2) translateY(-5px);
  color: #FBBF24;
  filter: drop-shadow(0 0 5px #FBBF24);
}

@media (max-width: 991px) {
  .section-title {
    font-size: 2rem;
  }
  .hero__title {
    font-size: 2.8rem;
  }
  .hero__subtitle {
    font-size: 1.2rem;
  }
  .hero__cta {
    font-size: 0.9rem;
  }
}
@media (max-width: 1052px) {
  .header {
    position: fixed;
    z-index: 1000 !important;
  }
  .header__mobile-toggle {
    visibility: visible;
    display: flex;
    z-index: 1000 !important;
  }
  .header__mobile-theme-toggle {
    display: block !important;
    visibility: visible !important;
  }
  .header__menu {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: -7rem;
  }
  .header__menu-wrapper {
    position: fixed;
    transform: translateX(100%);
    height: 100vh;
    width: 100%;
    top: 4.5rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1000 !important;
  }
  .header__menu-wrapper.active {
    position: fixed;
    top: 4.5rem;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    z-index: -1000 !important;
  }
  .header__menu-wrapper.active.active {
    transform: translateX(0);
  }
  .header__menu .header__controls {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .header__menu .header__controls .theme-toggle {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (max-width: 767px) {
  .hero {
    min-height: 90vh;
  }
  .contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__info.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__map {
    height: 300px;
  }
}
@media (max-width: 575px) {
  .hero__title {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .header__menu-wrapper.active {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
